@model int
<a class="nav-link position-relative" href="/Cart/Cart">
    <span class="fa fa-shopping-cart"></span>
    <span class="badge bg-danger position-absolute" style="top:-6px;right:-10px;">@Model</span>
</a>
